
.mdl-layout__header-row .mdl-navigation__link {
	color: black;
}

.queue-card-image.mdl-card {
	width: 7em;
	height: 5em;
	min-height: 5em;
	background: url('../images/icon.svg') center / cover;
}
.queue-card-image > .mdl-card__actions {
	height: 1.75em;
	padding: .1em;
	padding-top: .2em;
	padding-left: .2em;
	background: rgba(0, 0, 0, 0.2);
}
.queue-card-text {
	color: #fff;
	font-size: .8em;
	font-weight: 500;
}

.mdl-layout__header-row {
	background-color: white;
}

.norm-text {
	color: black;
	opacity: 1;
}

#title-icon{
		height: 80%;
		width: auto;
		max-width: 64px;
		max-height: 64px;
		opacity: .80;
}

#quick-add-thumbnail  {
	height: 80%;
	width: auto;
	max-width: 64px;
	max-height: 64px;
	opacity: .80;
	display: inline-block;
	padding-bottom: 2em;
}

.bar {
		background-color: RGBA(255, 255, 255, .90);
}
