
.mdl-layout__header-row .mdl-navigation__link {
	color: black;
}

.queue-card-image.mdl-card {
	width: 7em;
	height: 5em;
	min-height: 5em;
	display: inline-block;
	margin-left: .5em;
	margin-right: .5em;
}

.mdl-card--expand {
    height: 3em;
}

.queue-card-image > .mdl-card__actions {
	height: 1.75em;
	background: rgba(0, 0, 0, 0.7);
	vertical-align: bottom;
	text-align: bottom;
}
.queue-card-text {
	color: #fff;
	font-size: .8em;
	font-weight: 500;
}

.mdl-layout__header-row {
	background: rgba(255, 255, 255, 0.85);
}

.norm-text {
	color: black;
	opacity: 1;
}

#title-icon{
		height: 80%;
		width: auto;
		max-width: 64px;
		max-height: 64px;
		opacity: .80;
}

#quick-add-thumbnail  {
	height: 80%;
	width: auto;
	max-width: 64px;
	max-height: 64px;
	opacity: .80;
	display: inline-block;
	padding-bottom: 2em;
}

.bar {
		background-color: RGBA(255, 255, 255, .90);
}


#queue-cards{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
