
/*for centering */
.center {

    text-align: center;

}
.right {
  float:right;
}
.left {
  float:left;
}


.logout{
  color: #BFBFBF;
  padding:10px 10px 0px 0px;
}

.loginbox{
 background-color: black;
 height: 4vh;
 font-size: 20px;
 font-weight:bold;

}

.topBox {
    margin: 0 ;
    width: 100% ;
    height:3em;
    padding: -10px 0px;
    color: black;
    background-color: black;
    }

body {
    color: white;
    background-image: url("../IMG/5D6od60.png") ;
    background-color: grey;

}

#TimerDisplay{
    height: 1.13em;


}

.titletext{
  color: #BFBFBF;
  font-size: 24px;
  padding-left:10px;
  padding-top:5px;
  font-weight:bold;
    

}
.spacerbox{

  padding-top:20vh;
}

.loginfieldsbox{
  background-color: #BFBFBF;
  font-weight: bolder;
  padding-top: 2vh;

}

.mainsearch{
  width: 70vw !important; 
  height: 5vh !important;


}

.trackdisplay{
  background:#BFBFBF;
  height:40vh;

}

.individualtrack{
  background:#8E8E8E;
  margin-top: 5vh;
  height:30vh;
  font-size: 28px;

}
.thumbnailplaceholder{
  height:16vh;
  width:16vw;
  background-color:black;
  margin: auto;

}
.userlist{
background:white;
width:30%;
height: 40vh;
color:#BFBFBF;
font-size: 24px;

}

.alttitletext{
  color: black;
  font-size: 24px;
  padding-left:10px;
  padding-top:5px;
  font-weight:bold;
    

}

.userlistalt{
background:white;
padding:auto;
height: 80%;
color:#BFBFBF;
font-size: 24px;

}

.chattype{
width: 40vw;

}
.queue{
  margin-top: 50px;
background-color: black

}